spring:
  application:
    name: walkservice

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/walkservice}
    username: ${DB_USERNAME:walkservice}
    password: ${DB_PASSWORD:walkservice}
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

  flyway:
    enabled: true
